@import 'tailwindcss';

:root {
  --background: #171717;
  --foreground: #f0f0f0;

  --zekrom: #1d1d1d;
  --darkrai: #282828;
  --groudon: #b31d36;
  --charizard: #f99933;
  --zapdos: #ffdb4b;
  --rayquaza: #1cac8c;
  --blastoise: #6e49e7;
  --gengar: #a53adf;
}

@theme {
  --animate-wiggle: wiggle 1s ease-in-out infinite;
  --animate-soft-bounce: soft-bounce 0.4s ease-in-out infinite;

  @keyframes wiggle {
    0%,
    100% {
      transform: rotate(-3deg);
    }
    50% {
      transform: rotate(3deg);
    }
  }

  @keyframes soft-bounce {
    0%,
    100% {
      transform: translateY(-6%);
    }
    50% {
      transform: translateY(0);
    }
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-zekrom: var(--zekrom);
  --color-darkrai: var(--darkrai);
  --color-groudon: var(--groudon);
  --color-charizard: var(--charizard);
  --color-zapdos: var(--zapdos);
  --color-rayquaza: var(--rayquaza);
  --color-blastoise: var(--blastoise);
  --color-gengar: var(--gengar);
  --font-saira: var(--font-saira);
}

body {
  background: var(--background);
  color: var(--foreground);
}
