@import 'tailwindcss';

:root {
  --background: #171717;
  --foreground: #f0f0f0;

  --zekrom: #1d1d1d;
  --darkrai: #282828;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-zekrom: var(--zekrom);
  --color-darkrai: var(--darkrai);
  --font-saira: var(--font-saira);
}

body {
  background: var(--background);
  color: var(--foreground);
}
